<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141258946609-bfn9ng13sekq1eaac56630jh64s736ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141258946609-bfn9ng13sekq1eaac56630jh64s736ff</string>
	<key>API_KEY</key>
	<string>AIzaSyB1eYhZHlPz7xzIITIH1yhc-D-qQahvH80</string>
	<key>GCM_SENDER_ID</key>
	<string>141258946609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasnp.parrotChat</string>
	<key>PROJECT_ID</key>
	<string>parrot-chat-90cd6</string>
	<key>STORAGE_BUCKET</key>
	<string>parrot-chat-90cd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141258946609:ios:c8d474525aa66ec5c3fd10</string>
	<key>DATABASE_URL</key>
	<string>https://parrot-chat-90cd6.firebaseio.com</string>
</dict>
</plist>